/*  ============
    Global Style
    ============  */

.un-styled {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* colors */
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
}
.container {
  padding: 2.4rem 1.8rem 3rem;
  margin: 0 auto;
  min-width: min(100svw, 300px);
  width: min(90%, 1100px);
}
.img-container img {
  width: 100%;
}
h1,
h2 {
  color: var(--very-dark-blue);
  text-align: center;
  text-transform: capitalize;
}
h2 {
  padding-bottom: 0.5em;
}
p {
  color: var(--grayish-blue);
  text-align: center;
}
ul {
  list-style: none;
}
input[type="button"] {
  padding: 0.7em 0.9em;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 500;
  color: #fff;
  background-color: var(--soft-blue);
  border: 0.2em solid var(--soft-blue);
  cursor: pointer;
  box-shadow: 0px 1em 0.6em -0.5em #d4ddff4d;
  transition: background-color 0.3s, border-color 0.3s;
}
input[type="button"]:hover {
  background-color: #fff;
  color: var(--soft-blue);
  box-sizing: border-box;
}
/* Every Container Have Image & headding & text */
.img-text-container .img-container {
  position: relative;
}
.img-text-container .img-container::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 100vw;
  top: 20%;
  left: 20%;
  background-color: var(--soft-blue);
  z-index: -1;
  border-radius: 1000px 0 0 1000px;
}
.img-text-container h1,
.img-text-container h2 {
  font-weight: 600;
  line-height: 1.4;
  margin-top: 3em;
}
@media (min-width: 768px) {
  .img-text-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 3em;
    align-items: center;
  }
  .img-text-container .img-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: min(40rem, 50%);
  }
  .img-text-container .text > * {
    text-align: start;
    justify-content: start;
  }
}

/*  =======
    Landing 
    =======  */
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  position: relative;
}
nav .nav-icon {
  width: 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
}
@media (min-width: 768px) {
  nav .nav-icon {
    display: none;
  }
}
nav .nav-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--very-dark-blue);
}
nav ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}
nav:hover ul {
  display: block;
}
@media (min-width: 768px) {
  nav ul {
    position: static;
    display: flex !important;
    gap: 3em;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
    color: var(--very-dark-blue);
  }
  nav ul li {
    margin: 0;
  }
  nav ul li:hover {
    color: var(--soft-red);
    cursor: pointer;
  }
  nav ul input[type="button"] {
    margin: 0;
    text-transform: inherit;
    padding-right: 2em;
    padding-left: 2em;
    background-color: var(--soft-red);
    border-color: var(--soft-red);
  }
  nav ul input[type="button"]:hover {
    color: var(--soft-red);
    background-color: #fff;
  }
}
/* Main */
.landing-img {
  transform: scale(1.1);
}
h1 {
  font-size: 1.8rem;
  margin-bottom: 1em;
}
.buttons-container {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.buttons-container :last-child {
  background-color: #f7f7f7;
  color: var(--very-dark-blue);
  border-color: #f7f7f7;
}
.buttons-container :last-child:hover {
  background-color: #fff;
  color: var(--very-dark-blue);
  border-color: var(--grayish-blue);
}

/*  ========
    Features
    ========  */
.features .slider-titles {
  --bar-left: 0;
  position: relative;
  border-bottom: 1px solid var(--grayish-blue);
  margin: 2rem 0 3rem;
}
@media (min-width: 768px) {
  .slider-titles {
    display: flex;
    justify-content: space-between;
  }
}
.slider-titles::after,
.slider-titles li::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0.3em;
  background-color: var(--soft-red);
}
@media (min-width: 768px) {
  .slider-titles::after {
    width: 33.33%;
    left: var(--bar-left);
    transition: left 0.3s;
  }
}
.slider-titles li {
  position: relative;
  padding: 1em;
  border-top: 1px solid var(--grayish-blue);
  border-bottom: 0.8em transparent;
  text-align: center;
  color: var(--grayish-blue);
  width: 100%;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}
@media (min-width: 768px) {
  .slider-titles li {
    border-top: none;
  }
}
.slider-titles li.active {
  color: var(--very-dark-blue);
}
.slider-titles li::after {
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: width 0.3s;
}
.slider-titles li.active::after {
  width: min(8em, 80%);
}
@media (min-width: 768px) {
  .slider-titles li.active::after {
    width: 0;
  }
}
/* Slider Style */
.tap {
  display: none;
  transition: 0.3s;
}
.tap.active {
  display: block;
}
@media (min-width: 768px) {
  .tap.active {
    display: flex;
  }
  .tap {
    flex-direction: row;
  }
}
.tap .img-container::before {
  height: 90%;
  right: 20%;
  left: auto;
  border-radius: 0 1000px 1000px 0;
}
.tap .text {
  text-align: center;
}
.tap input[type="button"] {
  margin-top: 1em;
}

/*  ===========
    Attribution
    ===========  */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
